div {
    border: 0px solid #15539E;
}

.detailed-car-image {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.phone-block {
    height: 36px;
}

.modal {
    display: block;
}

/* Animations */

/*
*-enter, *-leave
*-enter-active, *-leave-active
*-enter-to, *-leave-to
*/

.phone-enter-active, .phone-leave-active {
    transition: all .5s;
}

.phone-enter, .phone-leave-to {
    transform: translateX(50px);
    opacity: 0;
}

/* Modal */

.modal-enter-active, .modal-leave-active {
    transition: all .5s;
}

.modal-enter, .modal-leave-to {
    transform: translateY(-100px);
}

/* Fade */

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.fade-leave-active {
    animation: .75s fade forwards;
}

.fade-enter-active {
    animation: .75s fade forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: .5;
    }
}